/* css file for use with file management feature */

.media-browser table.views-table {
  border-collapse: separate;
  width: 100%;
}

.media-browser fieldset#edit-select {
  border:0 none;
}

.media-browser legend {
  display:none;
}
